* {
    font-family: sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.top-screen {
    padding: 530px 0 145px;
    background: url("../img/top-screen-bg.png");
}

.top-screen-title {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.top-screen-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 26px;
}

.top-screen-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 54px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    padding: 25px;
}

.top-screen-slogan > span {
    margin-right: 35px;
}

.text-block {
    text-align: center;
    padding: 70px 0;
}

.text-block-title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 35px;
}

.text-block-text {
    font-size: 17px;
}

.top-menu-container {
    padding: 25px 0;
    border-bottom: 3px solid gold;
}

.top-menu-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    color: gold;
}

.top-menu-list {
    display: inline-block;
    margin-left: 227px;
}

.top-menu-item {
    display: inline-block;
    margin: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #3D3D3D;
}

.top-menu-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #3D3D3D;
}

.portfolio-container {
    padding: 60px 0 125px;
}

.portfolio-desc, .portfolio-pictures {
    width: calc((100% / 2) - 30px);
    display: inline-block;
    vertical-align: top;
}

.portfolio-desc {
    margin-left: 30px;
}

.portfolio-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 26px;
}

.portfolio-text {
    font-size: 14px;
    margin-bottom: 35px;
    text-align: justify;
    line-height: 20px;
}

.portfolio-btn {
    font-size: 14px;
    color: #fff;
    background-color: gold;
    padding: 20px 25px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    height: 900px;
}

.articles__item {
    width: calc((100% / 3) - 20px);
    margin-bottom: 10px;
}

.articles__img {
    width: 100%;
    margin-bottom: 10px;
}

.articles__title {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #333;
}

.articles__marker {
    display: inline-block;
    padding: 18px;
    background-color: #333;
    margin-right: 10px;
}

.articles__text {
    margin: 15px 0;
    color: #505050;
}

.articles__date-wrap {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #C1C1C1;
    border-bottom: 4px solid #333;
}

.articles__date {
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
}

.articles__more {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #828282;
}

.text-yellow {
    color: gold;
}
.yellow-line {
    width: 60px;
    margin: 50px auto 0;
    border-top: 4px solid gold;
}